.layout-grid {
}
.layout-grid__widget-items {
  margin-bottom: 20px;
  border: 1px solid skyblue;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.layout-grid__layouts-wrapper {
  background-color: #ccc;
  background-position: 0 10px;
  background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0,
      rgba(255, 255, 255, 1) 10px,
      rgba(232, 232, 232, 0) 10px,
      rgba(232, 232, 232, 0) 170px
    ),
    linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0,
      rgba(255, 255, 255, 1) 10px,
      rgba(232, 232, 232, 0) 10px,
      rgba(232, 232, 232, 0) 170px
    );
  background-image: linear-gradient(
      90deg,
      rgba(var(--palette-neutral-0, 255, 255, 255), 1) 0,
      rgba(var(--palette-neutral-0, 255, 255, 255), 1) 10px,
      rgba(232, 232, 232, 0) 10px,
      rgba(232, 232, 232, 0) 170px
    ),
    linear-gradient(
      0deg,
      rgba(var(--palette-neutral-0, 255, 255, 255), 1) 0,
      rgba(var(--palette-neutral-0, 255, 255, 255), 1) 10px,
      rgba(232, 232, 232, 0) 10px,
      rgba(232, 232, 232, 0) 170px
    );
}
.react-grid-layout {
  min-height: 8rem;
}
